* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f8edcb;
  position: fixed; /* 画面上部に固定 */
  top: 0;          /* 上から0px（画面の最上部）に配置 */
  z-index: 1000;   /* 他の要素の上に表示されるようにする */
}

.search-bar-contents {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 50%;
}

.icon {
  padding-right: 10px;
  font-size: 40px;
  text-decoration: none;
  color: rgb(47, 158, 255);
}

.search-form {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form .input-box {
  width: 80%;
  height: 5vh;
  padding-left: 10px;
}

.search-form .search-button {
  width: 80px;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 4px;
  font-size: large;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
  min-width: 120px;
  color: #333333;
  font-weight: bold;
  padding: 5px;
}

.login,
.sign-up,
.logout,
.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 32px;
  margin-right: 10px;
  color: #333333;
  width: 100px;
  background-color: lightblue;
  border: 1px solid grey;
  border-radius: 7px;

}

input.input-box {
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 10px;
  width: 100% !important; /* 幅の調整 */
  height: 30px !important;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.search-button {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}