.second-icon {
  width: 10vw;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  color: rgb(47, 158, 255);
}

.second-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #abff0f;
  padding: 40px;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}