/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .message-input {
  width: 70%;
  margin-right: 10px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
}


/* 編集・削除ボタンの設定 */
.action-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 280px;
}

.edit-button,
.destroy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* アイコンの幅 */
  height: 50px; /* アイコンの高さ */
  margin: 10px;
}

.edit-icon, .destroy-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.full-size-link {
  display: inline-block; /* 幅と高さを指定するためには、ブロックレベル要素にする必要があります */
  width: 50px;
  height: 50px;
}

.button_to {
  text-align: center;
  background-color: #ddd;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px;
  width: 130px;
}

button {
  all: unset; /* 要素が元々持っているスタイルをリセット */
}
