
.chat-input-container {
  position: fixed;
  bottom: 0;
  width: 95%;
  background-color: #f8f8f8;
  padding: 5px 20px;
  border-top: 1px solid #ddd;
  margin-left: 200px;
  margin-right: 20px;
}

.chat-form .input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 210px 20px 20px;
}

.message-input {
  width: calc(100% - 70px); /* ボタンの幅 + 間隔を差し引いた幅 */
  margin-right: 10px;
  padding: 5px;
}

.chat-button {
  width: 100px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  background-color: #3ccace;
  padding: 10px;
  font-size: large;
}