.chats-container {
  margin-top: 130px;
  margin-left: 200px;
  padding: 40px;
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.chat {
  width: 70%;
  margin-bottom: 20px;
  padding: 20px;
}

.user-info {
  text-align: left; /* ユーザー名を左寄せ */
}

.user-name {
  font-weight: bold; /* ユーザー名を強調 */
  font-size: 20px;
  color: #333;
  margin: 5px !important;
}

.chat-message {
  display: flex; /* メッセージと削除ボタンを横並びにする */
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* ユーザー名との間隔 */
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.message-content {
  word-wrap: break-word;
}

.delete-button {
  margin-left: 10px;
}

.chat-date {
  text-align: right; /* 投稿日時は右寄せ */
  font-size: 12px;
  color: #666;
  margin-top: 10px; /* メッセージとの間隔を追加 */
}

.chat-input-container {
  position: fixed;
  bottom: 0;
  width: 95%;
  background-color: #f8f8f8;
  padding: 5px 20px;
  border-top: 1px solid #ddd;
  margin-left: 200px;
  margin-right: 20px;
}

.chat-input-container2 {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  padding: 5px 20px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: red;
}

.chat-form .input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 210px 20px 20px;
}

.error_explanation {
  margin-top: 130px;
  margin-left: 200px;
  text-align: center;
  color: red;
}

#error_explanation h2 {
  color: red;
}

#error_explanation ul {
  list-style-type: disc;
  text-align: center;
  color: red;
}
