.records-container {
  margin-left: 200px;
  margin-top: 130px;
  height: 800px;
  border-radius: 20px;
  padding: 40px 40px 70px 40px;
  background-color: white;
  max-height: auto; /* スクロール領域の高さを設定 */
  overflow-y: auto;  /* 縦方向にスクロールを許可 */
}

.record {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.record-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.title-link {
  text-decoration: none;
  color: #333;
}

.record-description {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.description-space {
  width: 70%;
  font-size: 18px;
  padding: 5px;
}

.record-date {
  font-size: 12px;
  color: #777;
  text-align: right;
}

.retention-level-1 {
  background-color: #f0f0f0; /* グラデーション1 */
}

.retention-level-2 {
  background-color: #e6f7d4; /* グラデーション2 */
}

.retention-level-3 {
  background-color: #b3e592; /* グラデーション3 */
}

.retention-level-4 {
  background-color: #80d961; /* グラデーション4 */
}

.retention-level-5 {
  background-color: #4cc737; /* グラデーション5 */
}

.index-edit-icon,
.index-destroy-icon {
  width: 50px; /* アイコンの幅 */
  height: 50px; /* アイコンの高さ */
  cursor: pointer;
  margin: 10px;
}

.record {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tags {
  margin-right: 10px;
}

.tag-label {
  background-color: #e0e0e0;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.add-tag-btn {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
}

/* モーダルの背景 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* モーダルコンテンツ */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.add-tag-btn {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
}
