.detail-table {
  width: 70%;
  margin: 0 auto;
}

.detail-record {
  width: 20%;
  background-color: #e7c4f7;
  border: 1px solid #dedede;
  text-align: center;
  font-size: 18px;
}

.detail-value {
  width: 80%;
  margin-right: 40px;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 16px;
}

.show-space {
  margin-top: 130px;
  margin-left: 200px;
  padding: 50px;
  border-radius: 10px;
}

/* 編集・削除ボタンの設定 */
.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.edit-button,
.destroy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.edit-icon, .destroy-icon {
  width: 70px; /* アイコンの幅 */
  height: 70px; /* アイコンの高さ */
  cursor: pointer;
  margin: 10px;
}

.share-button {
  display: flex;
  margin: 10px;
  align-items: center;
}

.share-button .button-to { /* .share-button 内の .button-to にスタイルを適用 */
  height: 50px; /* 高さを 50px に設定 */
  line-height: 50px; /* 行の高さを 50px に設定 (垂直方向の中央揃えのため) */
  padding: 0 16px; /* 左右のパディングを調整 (必要に応じて) */
  display: inline-flex; /* flexbox を使用して要素を中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  justify-content: center; /* 水平方向に中央揃え */
}

.comments {
  bottom: 0; /* 画面の下に配置 */
  margin: 0 auto;
  width: 70%;
}
.comments-section {
  width: 100%; /* 残りのスペースの100%を使用 */
  background-color: lightgrey;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.comment-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comment-item {
  display: flex; /* 横並びにする */
  justify-content: space-between; /* 各要素を等間隔に配置 */
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.comment-content {
  width: 545px;
}

.comment-date {
  margin-left: 20px; /* 日時のスペースを確保 */
  font-size: 0.9em;
  color: #666;
}

.comment-actions {
  margin-left: 20px; /* 削除ボタンとのスペースを確保 */
}

.comment-item strong {
  margin-right: 5px; /* ユーザー名とコメントの間に余白を追加 */
}

.comment-form-section {
  width: 100%; /* 残りのスペースの100%を使用 */
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
}

.comment-field form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-input {
  width: 700px;
  padding: 10px;
  margin-right: 5px;
}

.comment-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 80px;
}

.comment-date {
  font-size: 12px;
  color: #777;
  text-align: right;
}

.action-buttons-show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}