<div class="sidebar">
  <ul>
  <!-- サイドバーの表示 -->

    <li>記録</li>
    <ul>
      <%# <% @categories.each do |category| %>
        <%# <li><%= link_to category.name, category_path(category) </li> %>
      <%# <% end %>
    </ul>
    <li>チャット</li>
  <!-- サイドバーの表示 -->

  <!-- 新規投稿アイコン -->
    <li class="new-record-icon-wrapper">
      <%= link_to new_record_path do %>
        <%= image_tag 'new-record.png', alt: '新規投稿', class: 'new-record-icon' %>
      <% end %>
    </li>
  <!-- 新規投稿アイコン -->
  </ul>
</div>