<div class="sidebar">
  <div>
  <!-- サイドバーの表示 -->

    <!-- 新規投稿アイコン -->
    <div class="new-record-icon-wrapper">
      <%= link_to new_record_path do %>
        <%= image_tag 'new-record.png', alt: '新規投稿', class: 'new-record-icon' %>
      <% end %>
      <!-- ツールチップの追加 -->
      <div class="tooltip">記録を投稿する</div>
    </div>
    <!-- 記録 -->
    <div class="sidebar-contet">
      <%= link_to "記録ページ", root_path , class: 'content-bar-1'%>
    </div>
    <!-- チャット -->
    <div class="sidebar-contet">
      <%= link_to "チャットページ", "/chats" , class: 'content-bar-2'%>
    </div>

  <!-- サイドバーの表示 -->
  </div>
</div>