<div class="sidebar">
  <div>
  <!-- サイドバーの表示 -->

    <!-- 新規投稿アイコン -->
    <div class="new-record-icon-wrapper">
      <%= link_to new_record_path do %>
        <%= image_tag 'new-record.png', alt: '新規投稿', class: 'new-record-icon' %>
      <% end %>
    </div>
    <!-- 記録 -->
    <div class="sidebar-contet">
      <%= link_to "記録", root_path , class: 'content-bar-1'%>
    </div>
    <!-- チャット -->
    <div class="sidebar-contet">
      <%= link_to "チャット", "/chats" , class: 'content-bar-2'%>
    </div>

  <!-- サイドバーの表示 -->
  </div>
</div>